kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: observai-ui
  namespace: observai-pipeline
  labels:
    name: observai
spec:
  output:
    to:
      kind: ImageStreamTag
      name: 'observai-ui:latest'
  strategy:
    type: Docker
    dockerStrategy:
      pullSecret:
        name: docker-cred
      dockerfilePath: Dockerfile
  source:
    type: Git
    git:
      uri: 'https://github.com/ZagaUS/obeservAi-zaga.git'
      ref: 'develop'
  triggers:
    - type: "GitHub"
      github:
        secretReference:
          name: webhook-secret
