apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: observai-backend  
resources:
  - imageStream.yaml
  - buildConfig.yaml
  - deploymentConfig.yaml
  - service.yaml
  - route.yaml