kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: test-observai-query-api-1
  namespace: observai-pipeline
  labels:
    app: test-observai-query-api-1
    app.kubernetes.io/part-of: observai
    app.openshift.io/runtime: quarkus
    app.openshift.io/runtime-namespace: observai-pipeline
spec:
  imagePullSecrets:
  - name: sharanya-secret
  strategy:
    type: Rolling
    rollingParams:
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
  triggers:
    - type: ConfigChange
  replicas: 1
  selector:
    name: observai
    deploymentconfig: test-observai-query-api-1
  template:
    metadata:
      labels:
        name: observai
        deploymentconfig: test-observai-query-api-1
    spec:
      containers:
        - name: test-observai-query-api-1
          image: >-
            quay.io/zagaos/test-observai-query-api
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
            - containerPort: 8778
              protocol: TCP
          resources: {}
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      securityContext: {}
